/* <!-- RESET --> */

@font-face {
    font-family: Abhaya Libre;
    src: url(../images/AbhayaLibre-Regular.ttf);
    font-family: Flaemische-Kanzleischrift;
    src: url(../images/Flaemische-Kanzleischrift.ttf);
}

*{
    list-style: none;
    margin: 0;
}

body{
    font-family: Abhaya Libre;
}


button {
    cursor: pointer;
}

/* <!-- MAIN --> */

.logo {
    width: 35%;
    padding-top: 7rem;
    padding-bottom: 2rem;
    display: flex;
    margin: 0 auto;
}

.slogan{
    font-family: Flaemische-Kanzleischrift;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

/* <!-- LISTAS --> */ 

.seccion {
    margin-bottom: 3rem;
}

.titulo {
    font-family: Abhaya Libre;
    font-size: 3.5rem;
    padding: 4rem;
    background-color: #969696;
    color: white;
}

.subtitulo { 
    font-size: 3rem;
}

.lista {
    font-size: 1.8rem;

}

.aclaracion {
    font-size: 1.5rem;
}

.imagen {
    width: 25%;
    border-radius: 30%;
    margin-bottom: 3rem;
}


/*.parallax {
    background-image: url(./style.css);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* <!------ GRID -------> */ 

.subtitle{
    grid-area: subtitle;
}
.column1{
    grid-area: column1;
}
.column2{
    grid-area: column2;
}
.column3{
    grid-area: column3;
}

.conteiner{
    display: grid;
    grid-template-areas: 
        "subtitle" "subtitle" "subtitle" 
        "column1"  "column2" "column3";    
}


.extras {
    font-size: 1.8rem;
    font-weight: 700;
}

.contacto {
    background-color: #D71621;
    display: grid;
    justify-items: center;
}

.contactenos{
    font-size: 3.5rem;
    padding: 4rem;
    color: white;
}

.iconosContacto{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.grupoContactos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.socialmedia{
    width: 70%;
    margin: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.map{
    margin: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* <!----- RESPONSIVE ------> */

@media screen and (max-width: 768px) {
    .slogan{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .titulo {
        font-size: 2.5rem;
        padding: 2rem;
        background-color: #969696;
        color: white;
    }

    .conteiner{
        display: grid;
        grid-template: 
        "subtitle" "subtitle" 100px
        "column1"  "column2"  100px
        "column3"  "column3"  100px;    
    }

    .imagen {
        width: 65%;
    }
}
